*{
    margin: 0;
    padding: 0;
}

main{
    width: 90%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    min-height: 100vh; 
}

.nft-container{
    background-color:hsl(216, 50%, 16%);
    padding: 1.2em;
    width: 20%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 20px 30px 10px hsl(212, 41%, 8%, 0.753), -20px 30px 10px hsla(212, 41%, 8%, 0.753);
}

.box1{
    position: relative;
}

.box1 img{
    position: relative;
    width: 100%;
    max-width: 360px;
    height: auto;
    border-radius: 12px;
    cursor: pointer;  
}

.box1 #img1{
    position: relative;
    top: 0;
    left: 0;
}

.box1 #img2{
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    height: auto;
    display: none;
    padding: 8em 8.26em 7.5em 8em;
    opacity: 0.4;
}

.box1:hover #img2{
    display: block;
    background-color: hsl(178, 100%, 50%);
}


.box2 h3{
    color: hsl(0, 0%, 100%);
    text-align: left;
    padding-bottom: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
}

.box2 h3:hover{
    color:hsl(178, 100%, 50%) ;
}

.box2 p{
    padding-right: .5em;
    max-width: 100%;
    text-align: left;
    padding-bottom: .5em;
}

.box3{
    display: flex;
    justify-content: space-between;
    padding-right: .1em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.struct{
    display: flex;
    font-size: .9em;
}

.color h4{
    color: hsl(178, 100%, 50%);
    letter-spacing: 1px;
}

.struct img{
    padding-right: .5em;
}

.days{
    display: flex;
    align-items: center;
    font-size: .9em;
}

.days img{
    padding-right: .5em;
}

.box4{
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: .5em;
}

.box4 img{
    height: 1.565em;
    border-radius: 50%;
    border: 2px solid white;
}

.box4 p{
    padding-left: .8em;
}

.box4 span{
    color: white;
    cursor: pointer;
}

.box4 span:hover{
    color: hsl(178, 100%, 50%); 
}

.box1,
.box2{
    padding-bottom: 1em;
}